<div class="verBien">
    <div class="info">
        <h3>Refacciones y Accesorios</h3>
        <div class="tabla">
            <table class="table" width="50%" heigth="70px">
                <thead>
                <tr>
                    <th>No. de resguardo</th>
                    <th>No interno</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Ubicacion</th>
                    <th>Estado</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr id="resultado">
                    <td>{{refyaccs.noresguardo}}</td>
                    <td>{{refyaccs.nointerno}}</td>
                    <td>{{refyaccs.nombre}}</td>
                    <td>{{refyaccs.fecha}}</td>
                    <td>{{refyaccs.ubicacion}}</td>
                    <td>{{refyaccs.status}}</td>
                    <td>{{refyaccs.descripcion}}</td>
                </tr>
            </tbody>
        </table>
        </div>
        {{#if refyaccs.garantia.proveedor}}
        <h3>Garantía</h3>
        <div class="tabla">
            <table class="table" width="50%" heigth="70px">
                <thead>
                <tr>
                    <th>Proveedor</th>
                    <th>Fecha de vencimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr id="resultado">
                    <td>{{refyaccs.garantia.proveedor}}</td> 
                    <td>{{refyaccs.garantia.fechavencimiento}}</td>
                </tr>
            </tbody>
        </table>
        </div>
        {{else}}
            <h4>Garantía no registrada...</h4>
        {{/if}}
    </div>
</div>